.ais-Hits-list {
  padding: 5px 0;
}

.ais-Hits-item {
  box-shadow: none;
  display: block;
  margin: 10px 0;
  padding: 0;
}

.ais-Hits-item:first-of-type,
.ais-InfiniteHits-item:first-of-type {
  border-radius: 5px;
}

.ais-Highlight {
  font-weight: 600;
}

.ais-Highlight-highlighted {
  background-color: transparent;
  color: #06bbbc;
}

.ais-Pagination {
  display: flex;
  margin: 32px auto;
  justify-content: center;
}

.ais-Pagination-item {
}

.ais-PoweredBy {
  display: flex;
  justify-content: flex-end;
}

.ais-PoweredBy-text {
  font-size: small;
  margin-right: 5px;
}

.ais-SearchBox-form {
  border: solid 4px #cbd5e1;
  padding: 12px 18px;
  border-radius: 2rem;
  display: flex;
  background-color: transparent;
  margin: 0 auto;
}
.ais-Pagination-list {
  gap: 1.2rem;
}

.ais-SearchBox-input {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  border-radius: 0.25rem;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-submit {
  padding: 4px;
  border-radius: 9999px;
  background: #7dd3fc;
}
.ais-SearchBox-submitIcon {
  font-weight: bold;
  width: 32px;
  height: 32px;
}
.ais-Pagination-link {
  padding: 8px;
  border-radius: 9999px;
  background: #7dd3fc;
}
.ais-Pagination-item--firstPage span {
  background: white;
}
